html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
}

#leftPanel {
    margin: 5px;
    background: #fff;
    color: #444;
    font-family: arial;
    width: 200px;
    border-right: solid 1px #888;
}

#status {
    background-color: #E0E0E0;
    color: #CD0000;
    font-weight: bold;
    padding: 3px;
    border: solid 1px #CD0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 100;
    display: none;
    height: 20px;
}